footer {
  color: white;
  background-color: #1a2236;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
  min-height: 10vh;
  overflow: hidden;
  border: 1px solid red;
}

footer p {
  flex: 1 1 50%;
  font-size: 2.5rem;
}

footer ul {
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  font-size: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.social-media img {
  width: 2.5rem;
  height: 2.5rem;
}

.social-media img:hover {
  transform: scale(1.2);
}
